<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>webstorage</display-name>
  <context-param>
    <param-name>StorageRoot</param-name>
    <param-value>/WEB-INF/webstorage/</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>dbDriverClass</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mariadb://localhost:3306/fileservice?user=root&#038;password=secret</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <multipart-config>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>webs.manage.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/registerUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnregisterUser</display-name>
    <servlet-name>UnregisterUser</servlet-name>
    <servlet-class>webs.manage.Unsubscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnregisterUser</servlet-name>
    <url-pattern>/unregisterUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleLogin</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>webs.manage.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>webs.manage.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebStorageServlet</display-name>
    <servlet-name>WebStorageServlet</servlet-name>
    <servlet-class>webs.manage.WebStorageServlet</servlet-class>
  </servlet>
</web-app>